.mainbody{
    width: 350px;
    height: 500px;
    border-color: black;
    background-color: gray;
    margin-left: 317px;
}
#screen{
    width: 271px;
    height: 32px;
    margin-left: 35px;
    margin-top: 15px;
}
.btn{
    width: 41px;
    height: 41px;
    margin-left: 34px;
    margin-top: 34px;  
    background-color: #488b8b
}